dev_server_ip = "127.0.0.1"
dev_server_rcon_port = "28016"
dev_server_rcon_password = "password"

source_dir = "./TebexOxide/TebexOxide"
source_files = ["BaseTebexAdapter.cs", "TebexApi.cs", "TebexDonate.cs", "TebexOxideAdapter.cs"]
output_file = "./Build/TebexDonate.cs.out" #Make sure the destination folder exists

plugin_header = """using Newtonsoft.Json;
using Oxide.Core.Libraries;
using Oxide.Core.Libraries.Covalence;
using System.Collections;
using System.Collections.Generic;
using System;
using System.Linq;
"""